<div class="padding-20-percent main-review">
  <div class="main-review-box">
    <div class="review-event-background">
      <div class="review-event-box">
        <div class="review-event-desc">
          <div class="review-event-header">
            Review Event
          </div>
          <div class="review-event-text">
            서비스를 이용하신 후기를 남겨주시면<br>
            다양한 선물과 혜택을 드립니다
          </div>
        </div>
        <div class="review-event-img">
          <img src="/assets/img/main/reviewEvent.png" class="review-event-img-item">
        </div>
        <div class="review-event-btn-box">
          <button class="review-event-button" (click)="moveNotice(2)">자세히 보기</button>
        </div>
      </div>
    </div>
  </div>
</div>
