<div class="body">
  <div class="cost-header">
    <div class="cost-header-box">
      <img src="/assets/img/other/ordermain.png" class="cost-header-box-img">
    </div>
    <div class="cost-desc-title">
      분야별 바로견적 확인하기
    </div>
    <div class="cost-desc-body">
      10초면 충분한 초간편 업체확인<br>
      옵션만 누르시면 업체 정보가 바로 나옵니다
    </div>
  </div>
  <div class="flex-default">
    <div class="cleaning-body">
      <div routerLink="/homeCleaning" class="cleaning-item">
        <img src="/assets/img/main/a3.png" class="cleaning-icon-img">
        <div class="cleaning-title">홈 클리닝</div>
        <ul class="features-list">
          <li><span style="font-weight: bold;color: red">입주·이사·거주</span></li>
          <li>아파트·원룸·오피스텔</li>
          <li>다세대·신축·주택</li>
        </ul>
      </div>
    </div>
    <div class="cleaning-body">
      <div routerLink="/buildingCleaning" class="cleaning-item">
        <img src="/assets/img/main/a4.png" class="cleaning-icon-img">
        <div class="cleaning-title">오피스 클리닝</div>
        <ul class="features-list">
          <li>공장·사무실·식당</li>
          <li>학교·병원·학원</li>
          <li>회사·숙박시설·기타</li>
        </ul>
      </div>
    </div>
    <div class="cleaning-body">
      <div routerLink="/productCleaning" class="cleaning-item">
        <img src="/assets/img/main/a5.png" class="cleaning-icon-img">
        <div class="cleaning-title">제품 클리닝</div>
        <ul class="features-list">
          <li>에어컨 분해청소</li>
          <li>세탁기 분해청소</li>
          <li>매트리스 디테일청소</li>
        </ul>
      </div>
    </div>
    <div class="cleaning-body">
      <div routerLink="/normalCleaning" class="cleaning-item">
        <img src="/assets/img/main/a6.png" class="cleaning-icon-img">
        <div class="cleaning-title">특수 클리닝</div>
        <ul class="features-list">
          <li>계단·시설물 정기청소</li>
          <li>화재·축사·고독사</li>
          <li>쓰레기집·기타 특수</li>
        </ul>
      </div>
    </div>
  </div>
</div>
