.succ-box {
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
  padding-top: 50px;
}

.succ-btn-box {
  text-align: center;
  padding-top: 30px;

  .succ-btn {
    color: #4383c4;
    border: 1px solid #4383c4;
    padding: 10px 20px;
    border-radius: 20px;
    background: white;
    font-family: 'Noto Sans KR', sans-serif;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  }

}
